body {
    margin: 0;
}

#top_left_menu {
    width: 200px;
    position: relative;
    left: -15px;
    top: 5px;
}

#top_left_menu li {
    display: inline;
}

#top_right_menu {
    float: right;
    padding-right: 40px;
    position: relative;
    top: -45px;
}

#top_menu_right ul {
    padding-right: 40px;
    margin: 0;
}

#top_right_menu li {
    display: inline;
    margin-right: 15px;
    font-size: 13px;
    font-family: arial;
    color: #222
}

#top_left_menu a, #top_right_menu a {
    color: #222;
    font-size: 13px;
    font-family: arial;
    margin-right: 15px;
    text-decoration: none;
}

#top_left_menu a:hover, #top_right_menu a:hover {
    text-decoration: underline;
}

#searchbar {
    width: 484px;
    position: relative;
    margin: auto;
}

#logo {
    width: 272px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
}

#logo img {
    width: 272px;
    height: 92px;
}

input {
    width: 484px;
    height: 46px;
    font-size: 16px;
    font-family: arial;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

#region {
    width: 100%;
    position: fixed;
    bottom: 41px;
    background-color: #f2f2f2;
    height: 41px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

#region p {
    margin-left: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #5f6368;
    font-family: arial;
    font-size: 15px;
}

#bottom_menus {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
}

#bottom_left {
    float: left;
}

#bottom_right {
    float: right;
    margin-right: 40px;
}

#bottom_menus ul {
    margin-top: 11.5px;
    margin-bottom: 11.5px;
}

#bottom_menus li {
    display: inline;
}

#bottom_menus a {
    text-decoration: none;
    color: #5f6368;
    font-family: arial;
    font-size: 13px;
    padding-right: 27px;
}