body {
    margin: 0;
}

#top_left_menu {
    width: 200px;
    position: relative;
    left: -15px;
    top: 5px;
}

#top_left_menu li {
    display: inline;
}

#top_right_menu {
    float: right;
    padding-right: 40px;
    position: relative;
    top: -45px;
}

#top_menu_right ul {
    padding-right: 40px;
    margin: 0;
}

#top_right_menu li {
    display: inline;
    margin-right: 15px;
    font-size: 13px;
    font-family: arial;
    color: #222
}

#top_left_menu a, #top_right_menu a {
    color: #222;
    font-size: 13px;
    font-family: arial;
    margin-right: 15px;
    text-decoration: none;
}

#top_left_menu a:hover, #top_right_menu a:hover {
    text-decoration: underline;
}


